* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 600px;
  background-image: linear-gradient(rgb(213, 154, 28), rgb(220 242 56));
  box-shadow: 0 7px 12px rgba(35, 9, 9, 0.937);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
}

.card .img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.card .card-body {
  text-align: center;
  margin-top: 20px;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .card-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.card .option {
  display: inline-block;
  padding: 3px 10px;
  background-color: rgb(175, 177, 46);
  color: #fff;
  font-size: 1.3rem;
  border-radius: 4px;
  text-decoration: none;
}

.card .option:hover {
  background-color: rgb(88, 112, 46);
}

.card h6 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estilos responsivos */

@media (max-width: 767px) {
  .container {
    height: auto;
  }

  .card {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .container {
    flex-wrap: wrap;
    height: auto;
  }

  .card {
    width: 75%;
    height: 600px;
  }
}
@media (max-width: 1200px) {
  .container {
    height: auto;
  }
  .card {
    width: 90%;
    height: 600px;
  }
}
@media (max-width: 1400px) {
  .container {
    height: auto;
  }
  .card {
    width: 80%;
    height: 650px;
  }
  .card .img {
    height: 400px;
  }
}
