.navContainer {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  height: 20vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(238, 169, 65) 0%,
    rgb(255, 190, 85) 5%,
    rgb(255, 242, 0) 100%
  );
}
.navbarLogo {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  justify-self: start;
  margin: 30px 0 30px 20px;
  margin-top: 4vh;

  cursor: pointer;
  color: black;
}
.option {
  text-decoration: none;
}
#navLink {
  gap: 10px;
  margin: 78px;
  padding: 5px;
  background: none;
  border: 1px solid rgb(87, 55, 9);
  border-radius: 9px;
  margin-top: 5.5vh;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
.navbarLogo:hover,
#navLink:hover {
  background: rgb(219, 222, 80);
  border-radius: 9px;
}

@media (max-width: 767px) {
  .navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbarLogo {
    margin-top: 2vh;
  }

  .navLink {
    margin-top: 2vh;
  }

  #navLink {
    margin: 0;

    margin-top: 2vh;
  }
}
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .navbarLogo {
    margin-top: 4vh;
    margin-left: 20px;
  }

  .navLink {
    margin-top: 0;
    margin-right: 20px;
  }

  #navLink {
    margin-top: 5.5vh;
  }
}
