.cartItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.selectedProd{
    width: 200px;
    height: 200px;
}
.cartItem p{
    font-size: 1.2rem;
}