footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgb(238, 169, 65) 0%,
    rgb(255, 190, 85) 5%,
    rgb(255, 242, 0) 100%
  );
  color: black;
}
.navbarLogo {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  justify-self: start;
  cursor: pointer;
  color: black;
}
.networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.networks > div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.networks p {
  margin: 0;
}
.msg:hover {
  background: rgb(219, 222, 80);
  border-radius: 10px;
}
@media (max-width: 1200px) {
  footer {
    height: auto;
    padding: 2px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  footer h3{
    padding: 40px;
  }
  .navbarLogo {
    margin-bottom: 20px;
  }

  .networks {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .networks > div {
    margin: 10px;
  }
}
.author{
  margin-top: 15px;
}
