.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.count div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.buttons {
  margin-bottom: 30px;
}

.button {
  padding: 10px;
  font-size: 20px;
  margin: 0 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.number {
  font-size: 1.6rem;
}
h1 {
  font-size: 24px;
  margin: 0 20px;
}

.amount {
  padding: 8px 10px;
  font-size: 1.4rem;
  background-color: rgb(175, 177, 46);
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.amount:hover {
  background: rgb(109, 165, 72);
}
.amount:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media screen and (max-width: 480px) {

  .count div {
    margin: 10px;
  }

  .buttons {
    align-items: center;
    margin-bottom: 0;
  }

  .button {
    margin-top: 10px;
  }
}
